.chat {
  position: relative;
  .chat-open-btn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 44px;
    padding: 20px 100px 15px 20px;
    box-shadow: 0 4px 12px 0 var(--shadow);
    background-color: white;
    transition: .5s;

    span {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
  .dialog {
    /* background-color: pink; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 60vh;
    inset-inline-start: unset;
    border-radius: 1em;
    margin: 0;
    border: none;
    box-shadow: 0 4px 12px 0 var(--shadow);
    color: --var(clr2);
    padding: 0;

    .dialog-container {
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      height: 100%;
    }

    .chat-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--gray6);

      span {
        display: inline-block;
        padding-left: 1em;
      }
    }
    ul {
      li:nth-child(odd) {
        margin: 10px 0 10px 0;
        background-color: var(--ins-gray);
      }
    }
    .who-is-typing {
      padding: 0 2em;
      font-size: 0.8em;
      margin: 0;
      color: var(--gray-for-date);
      animation: flicker 1.5s infinite;
    }


    form {
      place-self: center;
      display: grid;
      grid-template-columns: 40px 1fr 100px;
      width: 90%;
      height: 50px;
      border: 1px solid var(--gray6);
      border-radius: 1.5em;
      margin: 20px 10px;

      svg {
        margin: auto;
      }
      .chat-input {
        border: none;
        width: 150px;
      }
      .chat-input:focus {
        outline: none;
        color: black;
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: end;

        .attach-btns {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 5px;
          padding-right: 5px;
        }
        button {
          background-color: var(--blue2);
          color: white;
          width: 52px;
          height: 34px;
          border-radius: 1.5em;
          justify-self: end;
        }
      }
    }
  }
}


@keyframes flicker {
  0%   { opacity: 1; }
  20%  { opacity: 0.6; }
  40%  { opacity: 0.8; }
  60%  { opacity: 0.4; }
  80%  { opacity: 0.9; }
  100% { opacity: 1; }
}