.upload-preview {
  display: grid;
  gap: 20px;
  .upload-preview-grid {
    img {
      max-height: 40vh;
    }
  }

  label {
    background-color: var(--blue);
    color: white;
    padding: 10px 15px;
    border-radius: 0.8em;
    font-size: 0.8em;
  }
}
