nav.side-nav {
  position: sticky;
  top:0;
  display: flex;
  height: 100vh;
  gap: 28px;
  padding: 2.3rem 0.2rem;
  border-right: 1px solid var(--gray-icons);
  font-size: 1em;
  flex-direction: column;

  a {
    margin-left: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 5px;
    border-radius: 0.8em;
  }

  .active {
    background-color: var(--gray5);
    font-weight: 700;
  }

 
  .nav-title {
    margin: 0;
    margin-left: 20px;
  }
  a:hover {
    background-color: var(--gray5);
  }
 img{
    width: 25px;
  }
}


nav.side-nav a:nth-of-type(2) {
  margin-top: 10px;
}
nav.side-nav a:nth-of-type(9) {
  margin-top: 8px;
}

.logout-btn{
  position: fixed;
  bottom: 0;
  left: 0;
}