nav.side-nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-auto-rows: 55px;
  height: 100vh;
  gap: 10px;
  padding: 2.3rem 0.2rem;
  border-right: 1px solid var(--gray-icons);
  font-size: 1em;
  align-items: center;

  a,button {
    width: 90%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 15px 10px;
    border-radius: 0.8em;
  }

  .active {
    background-color: var(--gray5);
    font-weight: 700;
    letter-spacing: 3;
  }
  .logo {
    font-family: Billabong;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .instagram {
    display: block;
  }
  .camera svg {
    display: none;
  }

  .nav-title {
    margin: 0;
    margin-left: 20px;
  }
  a:hover {
    background-color: var(--gray5);
  }
  img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.logout-btn {
  position: fixed;
  bottom: 0;
  left: 0;
}
