/* Flex helpers */
.flex {
  display: flex;

  > .full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.bold {
  font-weight: 600;
}
.under-construction {
  margin-left: 300px;
}

.full-grid{
  grid-column: 1/-1;
}
.gray {
  color: var(--gray-for-date);
}

.full {
  width: 100%;
}

.time{
  font-size: 0.8em;
}

.scrollable {
  overflow-y: auto;
}
.scrollable::-webkit-scrollbar {
  display: none;
}

.file-input {
  display: none;
}
/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
