.carousel {
  position: relative;
  display: grid;
  place-content: center;
  background-color: black;
  z-index: -1;

  img {
    width: 100%;
  }
  .img-controler {
    background-color: var(--gray6);
    position: absolute;
    padding: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    opacity: 0.7;
  }
  .prev-img {
    left: 0;
    rotate: -90deg;
    transform: translateX(50%);
  }
  .next-img {
    right: 0;
    rotate: 90deg;
    transform: translateX(-50%);
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    gap: 5px;

    .dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--gray3);
    }
    .current.dot {
      background-color: white;
    }
  }
}
