.comment {
  p {
    display: flex;
    align-items: center;
  }

  .comment-txt{
          margin-left:1em;

  }

  .commenter-pic {
    display: inline;
    width: 30px;
    margin: 10px;
    border-radius: 1em;
  }
}
