.story-preview {
  font-size: 0.9em;
}

.user-preview {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    margin: 10px;
    border-radius: 1em;
  }
}

.story-preview-img img {
  width: 100%;
}
.actions {
  margin-top: 10px;

  span:nth-child(2) svg {
    margin-left: 10px;
  }
  span:nth-child(3) svg {
    margin-left: 10px;
  }
}
.preview-comments {
  color: var(--gray-for-date);
}

.comment-input{
  border:none;
}
.comment-input:focus{
  outline:none;
}
