

.story-list {
  margin-top: 100px;

  & li {
    background-color: green;
    display: flex;
    max-width: 470px;
    flex-direction: column;
    margin: auto;
    .actions {
      display: flex;
      gap: 6px;
      img {
        width: 30px;
        margin: 10px;
      }
    }
  }
}
