.details-container {
  display: flex;
  width: 100%;
  height: 80vh;

  .details-img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    background-color: black;
  }
  .details-info {
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto 1fr auto;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    text-align: start;
    & > *:not(.mini-user-img) {
      padding: 10px;
    }
    .mini-user {
    margin-left: 12px;
    }
    .header {
      padding: 10px;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 40px 1fr;
      align-items: center;
      border-bottom: 1px solid var(--gray-for-date);
    }
    .sub-header {
      display: flex;
      justify-content: space-between;
    }
    img {
      width: 30px;
      margin: 12px 2px;
      border-radius: 1em;
      display: inline;
    }
    .text-row {
      grid-column: 1/-1;
      overflow-y: auto;
      max-height: 100%;
      align-self: start;
      display: grid;
      grid-template-columns: 40px 1fr;

      p {
        grid-column: 2;
      }

      ul {
        grid-column: 1/-1;

        li > *:nth-child(3) {
          justify-self: end;
        }
      }
    }
    .actions {
      grid-column: 1/-1;
      display: flex;
      align-items: center;
      gap: 15px;
      border-top: 1px solid var(--gray-for-date);
      border-bottom: 1px solid var(--gray-for-date);
      padding: 10px 10px;
    }
    .likes-count {
      grid-column: 1/-1;
      margin-block-end: 0em;
    }
  }
}
