.details-container {
  display: flex;
  width: 100%;
  height: 80vh;

  .details-img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    background-color: black;
  }
  .details-info {
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    text-align: start;
    & >*:not(.mini-user-img):not(dialog) {
      padding: 0px 10px;
    }
    .mini-user {
      /* margin-left: 12px; */
    }
    .header {
      padding: 10px;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 40px 1fr;
      align-items: center;
      border-bottom: 1px solid var(--gray6);
    }
    .sub-header {
      display: flex;
      justify-content: space-between;
    }
    img {
      width: 30px;
      margin: 12px 2px;
      border-radius: 1em;
      display: inline;
    }
    .text-row {
      grid-column: 1/-1;
      overflow-y: auto;
      max-height: 100%;
      align-self: start;
      display: grid;
      grid-template-columns: 40px 1fr;
      .scroll-name {
        align-self: center;
      }
      p {
        grid-column: 2;
      }

      ul {
        grid-column: 1/-1;

        li > *:nth-child(3) {
          justify-self: end;
        }
      }
    }
    .actions {
      grid-column: 1/-1;
      display: flex;
      align-items: center;
      gap: 15px;
      border-top: 1px solid var(--gray6);
      padding: 10px 10px;
    }
    .likes-count {
      grid-column: 1/-1;
      margin-block-end: 0em;
    }
    .time {
      border-bottom: 1px solid var(--gray6);
      padding-bottom: 10px;
    }
  }
  form {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    padding: 0px 5px;

    svg {
      scale: 2;
      place-self: center;
    }

    button {
      color: var(--blue);
      font-weight: 700;
      justify-self: left;
      border-radius: 8px;
      padding-left: 0;
    }
    button:disabled {
      cursor:default;
      color: var(--gray6);
    }
  }
  dialog {
    border-radius: 8px;
    border: none;
    padding: 0;

    button{
      
      margin: 0;
      padding: 50px ;
      height: 30px;

    }
    .dialog-grid {
      display: grid;
      width: 50vw;
      
      button{
        border-bottom: 1px var(--gray6) solid;
        padding: 0;
      }
    }
    
   
     &::backdrop {
          background-color: rgba(0, 0, 0, 0.6);
     }

  
  
  
  
  
  
  
}
}