.modal-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.story-edit {
  position: fixed;
  font-size: 1.1em;
  inset: 0;
  width: 80vw;
  height: 50vh;

  padding-top: 15px;
  border-radius: 10px;
  margin: auto;
  z-index: 3;
  background-color: white;
  text-align: center;
  hr {
    border: none;
    border-bottom: 1px solid var(--gray6);
    margin: 0;
  }

  .close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    font-size: 1em;
    svg {
      color: white;
    }
  }
  form {
    height: 100%;
    display: grid;
  }
  .edit-page1 {
    display: grid;
    gap: 20px;
    place-items: center;
    place-content: center;
    align-content: center;

    .next-btn {
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--blue);
    }
  }
  .edit-page2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .create-details {
      font-size: 0.8em;
      background-color: white;
      display: grid;
      gap: 15px;
      grid-template-columns: 10px 30px 1fr 20px;
      grid-template-rows: 0px 30px 1fr 50px;
      border-left: 1px solid var(--gray6);

      .user-preview {
        grid-column: 2/-1;
        grid-row: 2;
      }
      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1em;
      }
    }
    .txt-input {
      border: none;
      grid-column: 2/-1;
      grid-row: 3;
      place-self: start;
      resize: none;
      overflow: auto;
      min-height: 90%;
      width: 90%;
      font-family:inherit;
      &:focus {
        outline: none;
      }
      &::-webkit-scrollbar{
        display: none;
      }
    }
    .char-count{
      grid-column: 4;
      grid-row: 3;
      place-self: end;
      padding-right: 10px;
      font-size: 0.8em;
    }
     .loc-input {
      border: none;
      grid-column: 2/-1;
      grid-row: 4;
      place-self: start;
       &:focus{
        outline:none;
       }
      
    }

    .share-btn {
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--blue);
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .edit-img {
    max-height: 70vh;
  }
}
