@media (width < 1100px) {
  .main-container {
    grid-template-columns: 80px minmax(50px, 1fr) 630px minmax(50px, 1fr);
  }

  .side-nav {
    span.nav-title {
      display: none;
    }
  }
  .camera svg {
    display: block !important;
  }
  .instagram svg {
    display: none;
  }

  .logo {
    display: none;
  }

  .user-details .user-header {
    grid-template-columns: 100px 1fr;
  }
}

@media (width < 750px) {
  .main-container {
    height: 100vh;
    grid-template-columns: 20px 1fr 20px;
    overflow-y: auto;
    padding-bottom: 75px;
  }
  .main-container::-webkit-scrollbar {
    display: none;
  }
  .story-index {
    grid-column: 2;
  }

  .user-details {
    grid-column: 2;
    width: 100%;
    grid-template-columns: 20px 1fr 20px;
    font-size: 0.8em;
    .user-header {
      .name-section {
        /* width: 80%; */
      }
      .sub-header .user-counters {
        grid-template-columns: 50px 60px 60px;
        grid-template-rows: 20px 20px;
        grid-template-areas:
          "no1 no3 no5"
          "no2 no4 no6";
        .no1 {
          grid-area: no1;
        }
        .no2 {
          grid-area: no2;
        }
        .no3 {
          grid-area: no3;
        }
        .no4 {
          grid-area: no4;
        }
        .no5 {
          grid-area: no5;
        }
        .no6 {
          grid-area: no6;
        }
      }
    }

    .gallery {
      grid-column: 1/-1;

      grid-template-columns: repeat(3, 1fr);
      /* margin-top: 100px; */
    }
  }
  nav.side-nav {
    background-color: white;
    grid-auto-flow: column;
    grid-auto-columns: 45px;
    position: fixed;
    height: auto;
    top: unset;
    bottom: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;

    .disappear {
      display: none;
    }
    & a {
      display: grid;
      place-items: center;
      padding: 0;
      margin-left: 0;
    }
    .active {
      background-color: white;
    }
  }
  .logout-btn {
    display: none;
  }
  .details-container {
    flex-direction: column;
    height: 80vh;

    .details-img {
      width: 100%;
      max-width: unset;
      height: auto;
      max-height: 50vh;
    }
    .text-row .more {
      align-self: start;
    }
    .details-info {
      height: 100%;

      grid-template-rows: 1fr auto auto;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
  .explore {
    grid-column: 2;
  }
  .chat {
    .chat-open-btn {
      bottom: 60px;
      padding: 20px;
      span {
        display: none;
      }
    }
  }
  .loader-wrapper {
    grid-column: 2;
  }

  .story-edit .edit-page2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 1fr;
    .edit-img{
      width: 100%;
      object-fit: contain;
    }
  }

  .carousel{
    
  .image-counter {
    margin: 0;
    .current.dot{
      background-color: var(--blue2);
    }
  }
  }
  .details-container .carousel

  img{
    max-height: 50vh;
    max-width: unset;
  }

}