@media (width < 1100px) {
  .main-container {
    grid-template-columns: 80px minmax(50px, 1fr) 630px minmax(50px, 1fr);
  }

  .side-nav {
    span.nav-title {
      display: none;
    }
  }
  .camera svg {
    display: block !important;
  }
  .instagram svg {
    display: none;
  }
  .details-container {
    flex-direction: column;
    height: 80vh;

    .details-img {
      width: 100%;
      object-fit:contain;
    }
    .details-info {
      grid-template-rows: auto 120px auto auto;
    }
  }
}

@media (width < 750px) {
  .main-container {
    grid-template-columns: 20px minmax(350px, 1fr) 20px;
  }
  .story-index {
    grid-column: 2;
  }

  .user-details {
    grid-column: 2;
    grid-template-columns: 50px 1fr 50px;

    .gallery {
      margin-top: 100px;
      width: 100%;
    }
  }
  nav.side-nav {
    background-color: white;
    grid-auto-flow: column;
    grid-auto-columns: 45px;
    position: fixed;
    height: auto;
    top: unset;
    bottom: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;

    .disappear {
      display: none;
    }
    & a {
      display: grid;
      place-items: center;
      padding: 0;
      margin-left: 0;
    }
    .active {
      background-color: white;
    }
  }
  .logout-btn {
    display: none;
  }
}
